.container-fluid{
	background-color: grey;
}

.container{
	background-color: grey;
	color: white;
}

header {
	margin: auto;

}

p {
	text-align: center;
	line-height: 150px;
	border: solid 3px lightgrey;
}

.first, .second {
	min-height: 300px;
	border: solid 3px lightgrey;
}